body {
	background-color: black;
}

/** {
  outline: red 1px solid;
}*/

.main {
	background-color: white;
	background-image: url('../images/ryu-stage.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: 0% 70%; 
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1400px;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.ryu {
	float: left;

}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 170px;
  left: 535px;
  float: left;
}

.instructions {
	position: absolute;
	bottom: -40px;
	right: 0;
	background-color: rgba(165,165,165,.3);
	border-radius: 3px 3px 0 0;
	font-family: 'Comic Neue Angular';
	font-size: 20px;
	font-weight: bold;
	color: #DDD;
}